@{
    ViewBag.Title = "Tere tulemast peole!";
}

<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: LightCyan;
        }
        .jumbotron {
            background-color: MediumTurquoise;
            color: white;
            text-align: center;
            padding: 30px;
            border-radius: 60px;
        }
        .jumbotron h1 {
            font-size: 35px; 
            font-weight: bold; 
            text-transform: uppercase; 
            letter-spacing: 3px; 
        }
        .jumbotron2 {
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 3px;
            color:black;
        }
        .message {
            padding: 20px;
            background-color: MintCream;
            margin-top: 20px;
            text-align: center;
            border-radius: 30px;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
        .img {
            width: 100%;
            text-align: center;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>@ViewBag.Greeting, Kallis sõber!</h1>
            <div class="jumbotron2">
                <p>Olete oodatud meie üritusele! Õhtul saab olema palju huvitavat!</p>
            </div>
        </div>
        <div class="message">
            <p>@ViewBag.Message</p>
        </div>
        <div class="img">
            <img src="~/Images/kutse.jpg" alt="Kutset pilt" />
        </div>
        <div class="text-center">
            @Html.ActionLink("Vastan", "Ankeet", "Ankeet", new { @class = "btn btn-primary" })
        </div>
    </div>
</body>
</html>
